fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pydantic
email-validator
google-api-python-client
google-auth
google-auth-oauthlib
requests
cryptography
redis
celery
psutil
httpx
aiofiles
python-multipart
pillow
alembic
psycopg2-binary
